* {
    margin: 0px;
    padding: 0px;
}

.formmain {
    margin-top: auto;
    margin-bottom: auto;
}

html {
    box-sizing: border-box;
}

@media screen and (min-device-width:768px) {
    .lgnimg {
        height: 100vh;
        width: 100%
    }
}
